*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root
{

    --text-color:rgb(240, 236, 236);
    --theme-color:#2a2747;
}

header
{
    width:100%;
    height:auto;
    
}
.navbar
{
    padding:1rem 0;
    width:100%;

    display: flex;
    vertical-align: middle;
    background-color: var(--theme-color);
    color:var(--text-color);

}

.left-navbar
{
    width:20%;

    vertical-align:middle;
    display: flex;
    justify-content: flex-end;
    background-color: var(--theme-color);
    align-content: center;

}
.left-navbar img
{
    
    width:80px;
    /* border:1px solid black; */
}
.logo-text
{
padding:1rem;
width:40%;
display: flex;
flex-direction: column;
align-content: center;
}

.logo-text span:nth-child(2)
{
    font-size: 1.3rem;
    font-weight: bold;

}
.center-navbar
{
    padding: 1.4rem 2rem;
    width:35%;
    

    /* align-self: center; */
    
    /* border:1px solid black; */
}
.center-navbar a
{
    color:var(--text-color);
    vertical-align: middle;
    font-size: 1.2rem;
    text-decoration: none;
}
.toggle-bar
{
    display: none;
    margin:25px;
    font-size:2rem;
}
.right-navbar
{

    width:50%;
    /* vertical-align: middle; */
    display:flex;
    
    align-items: center;
    justify-content: space-evenly;
    /* border:1px solid black; */
}

.search-icon
{
    position:relative;
    left:10%;
    color:rgb(179, 179, 179);
}

.right-navbar input
{
    align-self: center;
    /* border:1px solid black; */
    width:60%;
    height:40px;
    font-size: 1.5rem;
    border-radius:0.5rem;
    background-color:#423e61;
    /* border:1px solid var(--theme-color); */
    padding:0.2rem 1.4rem ;
    padding-left:3rem;
    color:rgb(179, 179, 179);
    border:none;
}
.right-navbar input:focus
{
    border:none;
    outline:none;
    
}
.microphone-icon
{
    position:absolute;
    right:15%;
    color:rgb(179, 179, 179);
}
/* .right-navbar input::before
{
    content: "hello";
    color:white;
} */
.bell 
{
    position: relative;
    font-size :25px;
}
.bell::after
{
    
    position:absolute;
    right:20%;
    top:-100%;
    transform:rotateX(180deg);
    
    font-size: 60px;
    align-self: flex-start;
    padding-bottom:1rem;
    color:red;
    width:10px;
    content:".";

} 
.right-navbar input:focus
{
    border:none;
}

.right-navbar span
{
    align-self:center;
}

.profile
{
    width:40px;
    height: 40px;
    box-shadow: 0px 0px 5px white;
    border-radius: 50%;
}
 /* **********************main div*************************** */
 .main
{
    /* position:fixed; */
    width:100%;
    box-sizing: border-box;
    /* border:1px solid red; */
    /* height:200px; */
    display: flex;
    align-content: flex-end;
    justify-content: center;
    padding:1rem;
    background-color: var(--theme-color);

}
.left-container
{
   padding:0.5rem;
   width:60%;
   /* border:1px solid black; */
   background-color: var(--theme-color);
   height:100vh;
   overflow-y:scroll;
   overflow-x:hidden;
   
   scrollbar-width: none;
   scroll-behavior: smooth;

   

}
.left-container::-webkit-scrollbar {
    display: none;
  }
  
.left-heading
{
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid black; */
    width:100%;
    padding:3rem 0;

    
}
.left-heading img
{
    width:100%;
    height:100%;
}
.right-container
{
    /* border:1px solid black; */
    background-color: var(--theme-color);
    width:35%;
    overflow: scroll;
    height: 100vh;
    color:var(--text-color);
}
.right-container::-webkit-scrollbar {
    display: none;
  }
 
  
.box
{
    position: relative;
    color:var(--text-color);
    width:30%;
    /* border:1px solid black; */
    box-shadow: 0px 0px 2px rgb(44, 44, 44);
    transform:translate(0px);
    z-index:0;
    transition:all 0.6s ease 0.1s;
}
.box img
{
    width:100%;
}
.box:hover 
{

    z-index:1;
    transform:translate(10px) scale(1.4) ;


}
/* latest release */

.banner
{
    padding-left:1.3rem;
    color:white;
}
.latest-release
{
    /* margin-top:1rem; */
    width:100%;
    display: flex;
    flex-wrap:wrap;

    /* grid-template-columns: 45% 45%; */
    padding:1rem;

}
.release 
{
    margin-left: 0.5rem;
    width:45%;
    box-sizing: border-box;
    padding:1rem 0; 
    
    /* margin-right:0.4rem; */
    /* border:1px solid black; */
    /* min-height:70px; */
    display:flex;
    align-content: center;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 3fr 4fr 1fr; */
}
.song-image
{
    
    width:30%;

}
.song-image img
{
    width:100%;
    min-width: 60px;
    padding:5px;
    margin-right:4px;
    
}
.song-details
{   margin:1em;
    width:50%;
    /* border:1px solid red; */
    vertical-align: middle;
    align-self: center;
}
.song-details *
{
    font-size:1em;
}
.more-details
{
    width:15%;
}
.release div
{
    color:var(--text-color);
    
    /* margin:0.4rem; */
} 

.song-details
{
    /* width:40%; */
    /* margin-top:1rem; */
    /* vertical-align: middle; */
    /* padding-top:0.5rem; */
    align-items: center;
    /* border:1px solid black; */
}
.more-details
{
    position: relative;
    /* padding-top:45%; */
    /* padding-left:30%; */
}
.more-details-navbar
{
    /* visibility: hidden; */
    position:absolute;
    top:10%;
    right:0%;
    /* left:-200%; */
    z-index:1;
    background-color: white;
    color:black;
    display:none;
    /* flex-direction:column; */
    
    width:160px;

}
.more-details-navbar p
{
    /* /* padding:0 5rem 0; * */
    padding:4px;
    border-bottom:1px solid black;
}
.more-details-navbar p i
{
    margin-right:10%;
    margin-left:2%;
    
    /* padding-right:2rem; */
    color:gray;
}
.more-details:hover .more-details-navbar
{
    color:black;
    display:block;
    z-index: 20;
}

.playlist-heading
{
    /* border:1px solid black; */
    position:relative;
    padding:1.5em 3em 1em 1.5em;
    display:flex;
    width:78%;
    justify-content: space-between;
    border-bottom:1px solid var(--theme-color);
    box-shadow:-1px -1px 2px blue;

}
.playlist-heading h1
{
    width:60%;
    /* border:1px solid black; */
}
.playlist-heading p
{
    font-size:1.2rem;
    /* justify-self: flex-end; */
    width:20%;
    /* border:1px solid black; */
    align-self: center;
    text-align:end;
    background-color: var(--theme-color);
    /* border:none; */
    color:rgb(0, 247, 255);
}
.playlist-heading button span
{
transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left:50%;
    top:40%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .playlist-heading p:hover ~.dropdown-content
  {
    
      display:block;
  }
.song-queue
{
    padding:0 1rem;
    display: flex;
    box-sizing: border-box  ;
    justify-content: space-evenly;
    flex-direction: column;
}
.songs
{
    display: flex;
    margin-top:3px;
    padding:4px;
    
    /* border:1px solid green; */
    justify-content: space-around;

}

.part1
{
    display: flex;
    width:30%;
    
    /* border:1px solid blue; */
    /* justify-content: space-around; */
}
.part1 img
{
    width:50%;
    min-height:40px;
    box-shadow: 0px 0px 3px gray;
    
    /* border: 1px solid red; */
}
.part1 p
{
    font-size:0.8rem;
    box-sizing: border-box;
    align-self:center;
    padding:3px 0.5rem;
    color:rgb(168, 167, 167)
    /* border:1px solid red; */
    
}
.part2
{
    width:70%;
    /* border:1px solid green; */
    display: flex;
    justify-content: space-evenly;

    /* border:1px solid black; */
}
.author-song-and-name
{
    width:70%;
}
.like
{
   width:30%;
   align-self:flex-start;
   /* border:1px solid red; */
}
.like i
{
    color:white;
    padding:10px;
}
.author-song-and-name 
{
    align-self: center;
}
.author-song-and-name p
{
    font-size: 0.8rem;
    padding-top:3px;
    color:rgb(177, 177, 177)
}

.like
{
    align-self: center;
}

                                /* popular artist  */
.popular-artist
{    display: flex;
    padding: 4px;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem 5px;
}

.artist
{
    width:15%;
    margin-bottom:1rem;

    min-width:100px;
}
.artist figure img
{
width:100%;
height:20vh;
margin-left:0.5rem;
border-radius: 50%;
box-shadow: 0 0 0 2px rgb(53, 52, 52);
}

.artist figure figcaption
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:0.8rem;
   text-align: center;
   color:var(--text-color);
   /* margin:0 auto; */
   
}

/*      ------------type of songs--------------------  */
.type-of-songs
{
    box-sizing: border-box;
    display: flex;
    width:95%;
    margin:0px auto;
   
    padding:1rem ;
    /* border:1px solid blue; */

    background-color: #294da2;
    color:var(--text-color);


}
.drawing
{
    
    position:relative;
    /* padding:1rem; */
    
    
}
.drawing-box
{
position:absolute;
width:90px;
margin-left: 1rem;
min-height: 70px;
margin-top: 0.3rem;
color:var(--text-color);
box-sizing: border-box;

}
#drawing-box1
{
    transform:scaleX(1) scaleY(1.4) ;
    background-color: #ef471a;
    z-index: 4;
    

}
#drawing-box2
{
    transform:scaleX(1.2) scaleY(1.2) ;
    background-color:rgb(255, 219, 58);
    z-index: 3;

    
}
#drawing-box3
{
    transform:scaleX(1.4) scaleY(1) ;
    background-color:rgb(255, 219, 58);
    z-index: 2;


    
}
#drawing-box4
{
    transform:scaleX(1.3) scaleY(1) ;
    background-color:rgb(255, 219, 58);
    z-index: 1;


    
}
.drawing-type
{
width:80%;
display: flex;
margin-left:20%;
justify-content: space-between;
}

.type 
{

    opacity:0.8;
    background-position: center;
    background-size: cover;
    align-self: center;
    width:14%;
    min-height:90px;
    box-shadow: 2px 2px 1px black;
    
    border-radius: 50%;
    /* border:1px solid gray; */
}
.type h4
{
    text-align: center;
    /* vertical-align: middle; */
    margin-top:40%;
}

/*                        mode             */
.mode
{
    width:95%;
    margin:2.5%;
    display: flex;

    justify-content: space-between;
    color:var(--text-color);
}
#mode1
{
    filter:blur(1px);
    background-image: url('../image/party.jpg');
}
#mode2
{
    filter:blur(1px);
    background-image:url('../image/electricity.jpg');
}
#mode3
{
    filter:blur(1px);
    background-image: url('../image/roadtrip.jpg');
}

.mode-type
{
    width:30%;
    height:140px;
    box-shadow:0px 0px 2px black;
    /* border:1px solid red; */
    text-align: center;
    background-size: contain;
    align-self: center;
}
.mode-type h4
{ 
    color:var(--text-color);
    margin-top: 25%;
    vertical-align: middle;
}
.latest-english,.latest-hindi
{
  width:95%;
    margin:2.5%;
    /* display: flex; */
    justify-content: space-between;
}

.latest-english-songs ,.latest-hindi-songs
{
    /* width:100%; */
    display:flex;
    /* border-radius:3%; */
    /* flex-wrap: wrap; */
    /* border:1px solid black; */
}
.latest-english-songs figure img,.latest-hindi-songs figure img
{
    height:70%;
}
.latest-english-songs figure,.latest-hindi-songs figure
{
    width:100%;
    /* border:1px solid black; */
    
    margin:4px ;
    margin-left: 0.5rem;
}
.latest-english-songs figure img,.latest-hindi-songs figure img
{
    border-radius:5%;
    opacity:0.7;
    
    width:100%;
}
.latest-english-songs figure figcaption,.latest-hindi-songs figure figcaption
{
    text-align:left;
    font-size:0.8rem;
    color:white;
    padding-left:0.5rem;
    padding-left:0.2rem;
}

.latest-english-songs figure figcaption p,.latest-hindi-songs figure figcaption p
{
    padding-top:0.3rem;
    color:rgb(177, 175, 175);
}
.latest-heading
{
    padding-left:0.3rem;
    padding-bottom:1rem;
    color:white;
}
/* @media  screen and (max-width<567px) {
 .left-container
 {
     width:100%;
     border:1px solid red;
 }   
    
 .release
 {
     grid-template-columns: 1fr;

 }
} */
.bottom 
{
    display: flex;
    /* border:1px solid red; */
    box-shadow: 0px 0px 3px rgb(66, 65, 65);
    background-color: rgb(66, 65, 65);
    position:fixed;
    width:100%;
    bottom:0%;
}
.play-song
{
    width:100%;
    display: flex;

}
.song-info
{
    display: flex;
    /* display:inline-block; */
    width:30%;
    padding-left:10%;
    overflow-x:hidden ;
    justify-content: space-around;
    /* border:1px solid black; */
}
/* audio
{
    width:60%;
} */
.song-info img
{
    /* box-sizing: border-box; */
    padding:10px 10px;
    width:50px;
    /* border:1px solid red; */
    
}
.author-info
{
padding-top:15px;
vertical-align: top;
display:inline-block;
width:50%;
/* border:1px solid red; */
/* align-self: center;
justify-self: flex-end; */
}
.author-info h4,.author-info p
{
    font-style:normal;
    color:white;
}
.author-info p
{
    padding-top:5px;
    color:rgb(155, 148, 148);
}
.like-or-dislike
{
    align-self:center;
    color:rgb(139, 136, 136);
}
.like-or-dislike i
{
    padding:5px;
}
.audio-track
{
    /* border:1px solid black; */
    width:70%;
    height:100%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;

   
    color:brown;;
}
.first-line-of-audio-track
{
    margin:0 auto;
}
.first-line-of-audio-track i
{
    color:rgb(209, 208, 208);
    /* width:100px; */
    margin-right:2em;
    font-size: 25px;
/* margin:0 auto; */
}
.second-line-of-audio-track
{
    width: 100%;
    /* align-self: center; */
    /* margin:0 auto; */
    
}
.second-line-of-audio-track input
{
    margin-left:6%;

    /* margin:0 auto; */
    width:80%;
}
.feature
{
    
    align-self: center;
    justify-self:flex-end;
    width: 30%;
}
.feature *
{
margin-right:5%;
color:rgb(209, 208, 208);
}

@media screen and (max-width: 820px)
{
    .right-container
    {
        width:35%;
    }
    .left-navbar
    {
        /* border:1px solid black; */
        width:50%;
    }
    .logo
    {
        padding:0px;
       
    }
    .logo-text
    {
        
        padding: 0px;
        margin: 20px 0px;
    }
    .center-navbar
    {
        padding-top:30px;
        width:20%;
    }
}
@media screen and (max-width: 720px)
 {
     .main
     {
         flex-wrap: wrap;
     }
    .left-container
    {
        width:100%;
        height:auto;

    }
    .right-container
    {
        /* position:absolute; */
        width:100%;
        height:auto;
        /* display:none; */
    }
    .type-of-songs
    {
        display: none;
    }
    .drawing
    {
        /* visibility: hidden; */
        display: none;
    }
    .song-details
    {
        align-self: flex-start;
    }

    .right-navbar
      {
          display: none;

      }
      .toggle-bar
      {
          display:block;

      }
      .search-icon,.microphone-icon
      {
        top:20%;
        left:-20%;
        /* color:white; */

      }
      
      .profile
      {
          order:-10;
      }
      .bell
      {
          order:-7;
          color:black;
      }
      .artist{

            width:30%;
      }
      .right-navbar
      {
          display: none;
          padding:1rem;
          /* display: flex; */
          box-sizing: border-box;
          justify-content: flex-start;
          align-content: space-between;
          background-color:white;
          position:absolute;
          width:180px;
          border-radius: 10px;
          z-index: 100;
          height:200px;
          top:10%;
          right:5%;
          
          flex-direction: column;
      }
      .right-navbar *
      {
          margin-bottom:20px;
          /* border:1px solid black; */
      }
      .right-navbar i:not(.bell)
      {
          display: none;
      }
      input[type=search]
      {

          margin:0px auto;
          padding:5px;
          font-size:1em;
          width:90%;
          color:black;
          /* border:1px solid black; */
          background-color: rgb(206, 208, 209);
      }
      .right-navbar img:hover 
      {
          background-color: gray;
      }
      .toggle-bar:hover ~.right-navbar
      {
        display:flex;
      }
      .song-info
      {
          display: none;
      }

      .bottom
      {
          display: block;
          margin:auto;
          /* margin:0px; */
          padding:1.5rem 0px;
          min-height:8vh;
      }
      .audio-track
      {
          width:100%;
          /* border:1px solid black; */
        
      }
      .first-line-of-audio-track
      {
          display: block;
          /* border:1px solid black; */
      }
      .first-line-of-audio-track i
      {
        margin:0px 10px; 
       /* border:1px solid black;   */
      }
      .second-line-of-audio-track
      {
          margin-top:10px;
      }
      

      .feature
      {
          display: none;
      }
     
  }
  @media  screen and (max-width:480px) {
      .mode
      {
          flex-wrap:wrap;
          /* padding:.5rem; */
      }
      .mode .mode-type
      {
        margin-top:0.5rem;
          width:100%;

      }
      .latest-english,.latest-hindi
      {
          margin-top: 1rem;
      }
      .latest-heading
      {
          margin:0.5rem 1.5rem 0 1.5rem;
      }
      .latest-english-songs,.latest-hindi-songs
      {
          flex-wrap:wrap;
          align-content: space-between;
          justify-content: center;

      }
      .latest-english-songs figure,.latest-hindi-songs figure
      {
          margin-bottom:1rem;
          width:25%;
      }
      .latest-release
      {
          width:100%;
      }
      .song-details *
      {
          font-size: 0.7em;
          padding-left:1em;
      }
      .release{
          width:46%;
      }
      .more-details-navbar
      {
          position:absolute;
          width:70px;
          /* top:-5%;; */
          
      }

      .more-details-navbar p
      {
          font-size: 0.7em;
      }

      .song-info
      {
          display: none;
      }

      .bottom
      {
          display: block;
          margin:auto;
          /* margin:0px; */
          padding:1.5rem 0px;
          min-height:8vh;
      }
      .audio-track
      {
          width:100%;
          /* border:1px solid black; */
        
      }
      .first-line-of-audio-track
      {
          display: block;
          /* border:1px solid black; */
      }
      .first-line-of-audio-track i
      {
        margin:0px 10px; 
       /* border:1px solid black;   */
      }
      .second-line-of-audio-track
      {
          margin-top:10px;
      }
      

      .feature
      {
          display: none;
      }
      .left-navbar
      {
          /* border:1px solid black; */
          width:50%;
      }
      .logo
      {
          padding:0px;
         
      }
      .logo-text
      {
          
          padding: 0px;
          margin: 20px 0px;
      }
      
  }
